@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
}
 
 .welcome-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border: 2px solid maroon;
  border-radius: 10px;
  z-index: 9999;
  text-align: center;
  max-width: 80%;
  transition: opacity 0.3s ease;
}


.welcome-popup p {
  color: maroon;
  margin: 10px 0;
}

.reopen-button {
  background-color: maroon;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.reopen-button:hover {
  background: linear-gradient(
    to bottom,
    hsl(10, 81%, 53%),
    hsl(27, 91%, 52%),
    hsl(35, 91%, 52%),
    hsl(39, 91%, 52%),
    hsl(42, 91%, 52%)
  );
}



.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  flex-direction: column;
  background-color: #000;
}

.wrapper {
  background: #121212;
  width: 1100px;
  border-radius: 24px;
  padding: 36px 42px;
}

.wrapper header {
  color: #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
  user-select: none;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 16px;
}

.volume-slider input {
  accent-color: #fff;
  outline: none;
}

.keys-checkbox input {
  appearance: none;
  background: #2e2e2e;
  width: 64px;
  height: 32px;
  border-radius: 32px;
  position: relative;
  cursor: pointer;
}

.keys-checkbox input::before {
  content: "";
  height: 24px;
  width: 24px;
  left: 5px;
  border-radius: inherit;
  background: #ababab;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.keys-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}

.piano-keys {
  display: flex;
  margin-top: 36px;
}

.piano-keys .key {
  list-style: none;
  color: #b0b0b0;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.piano-keys .white {
  width: 60px;
  height: 240px;
  border-radius: 8px;
  background: linear-gradient(#fff 96%, #ddd 4%);
  border: 1px solid #000;
}

.piano-keys .white.active {
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  box-shadow: inset -4px 4px 24px rgba(0, 0, 0, 0.14);
}

.piano-keys .black {
  width: 44px;
  height: 140px;
  border-radius: 0 0 6px 6px;
  margin: 0 -22px 0 -22px;
  z-index: 2;
  background: linear-gradient(#2b2b2b, #000);
}

.piano-keys .black.active {
  background: linear-gradient(to bottom, #000, #2b2b2b);
  box-shadow: inset -4px 4px 14px rgba(255, 255, 255, 0.06);
}

.piano-keys span {
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
  font-size: 1.14rem;
}

.piano-keys .key.hide span {
  display: none;
}

#hint {
  margin-top: 2%;
  color: #ffffff;
}

#hint:hover {
  color: #000000;
}
